.crib {
  background-image: url('./demon-room.jpg');
  background-repeat: no-repeat;
  height: 475px;
  min-width: 600px;
  border:1px solid #000000;
  z-index: 0;
}

#stats {
  font-family: sans-serif;
  color: white;
  background-color: darkred;
  padding: 20px;
}

.monster-img img {
  height: 150px;
  width: auto;

}

.giphy-parent {
  position: relative;
  top: 250px;
  right: 300px;
  z-index: 10;
}

.brown {
  background-image: url('./runny.jpg');
  background-repeat: no-repeat;
  height: 475px;
  min-width: 600px;
  /* position: absolute; */
  z-index: -1;
}

/* #translucent {
    opacity: 0.8;
    filter: alpha(opacity = 100);
} */
